#canvas {
	position: relative;
	left: 25%;
	background-image:url("images/grill.png");
	width: 1000;
	height: 600;
	border: 1px solid #000000;
}

.middle_column{
	position: absolute;
	left:400px;
	top: 150px;
}
@font-face {
    font-family: 'Char';
    src: url('char_bb/charbb_reg.ttf');
}