#canvas {
	position: relative;
	background-image:url("images/grill.png");
	width: 1000;
	height: 600;
	border: 1px solid #000000;
}

@font-face {
    font-family: 'Char';
    src: url('char_bb/charbb_reg.ttf');
}